@charset "UTF-8";
/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,400;1,500&display=swap");
/* Variables */
/* Colors */
/* Padding and Margin */
ul {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121212;
  width: 99vw;
  color: #e9e9e9;
  font-family: 'Arimo', sans-serif;
}

header {
  width: 99vw;
}

header #headingNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 3.25em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #headingNav #navLogo {
  width: 30%;
  margin: 0.0625em 1.87em 0.93em 6em;
}

header #headingNav #navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 6em 0 0;
}

header #headingNav #navLinks a {
  padding: 0.625em 0.375em 0.6875em;
  font-size: 1em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e9e9e9;
  text-decoration: none;
  margin-right: 3.8125em;
}

header #headingNav #navLinks #joinUs::after {
  content: ' ↗';
  font-size: 0.7em;
  color: #f7fe6a;
}

header #headingNav #navLinks #getInTouch {
  color: #121212;
  background-color: #f7fe6a;
  margin-right: 0;
}

#mainContent {
  padding: 3.25em 6em 0em 6em;
}

#mainContent #maestroContainer {
  position: relative;
}

#mainContent #maestroContainer .grain,
#mainContent #maestroContainer canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #121212;
  width: 100%;
  height: 75vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#mainContent #maestroContainer #showMust {
  position: absolute;
  bottom: 20vh;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
}

#mainContent #maestroContainer #showMust div {
  font-size: 5.125em;
  font-weight: 300;
  text-align: left;
  color: #e9e9e9;
  width: 70%;
}

#mainContent #maestroContainer #showMust a {
  font-size: 1em;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  color: #e9e9e9;
  float: right;
}

#mainContent #maestroContainer #showMust a::after {
  content: ' ↓';
  color: #f7fe6a;
}

#mainContent #About #aboutWorkFooter {
  font-size: 0.625em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  border-top: 1px solid #FFFFFF;
  padding-top: 12px;
}

#mainContent #About #aboutWorkFooter span:nth-of-type(2) {
  float: right;
}

#mainContent #About .doYou {
  font-size: 3.125em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #595959;
}

#mainContent #About .doYou p {
  color: #f7fe6a;
}

#mainContent #About #aboutMaestro {
  font-size: 1.5625em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e9e9e9;
}

#mainContent #How h2 {
  font-size: 1.25em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f7fe6a;
}

#mainContent #How p {
  font-size: 2.5em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #FFFFFF;
}

#mainContent #How #fullConcert div {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

#mainContent #How #fullConcert div h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #f7fe6a;
}

#mainContent #How #fullConcert div p {
  font-size: 1.5625em;
  color: #e9e9e9;
}

#mainContent #How #fullConcert div span {
  font-weight: 500;
}

#mainContent #What #allTheActs #1stAct,
#mainContent #What #allTheActs #2ndAct,
#mainContent #What #allTheActs #3rdAct,
#mainContent #What #allTheActs #4thAct {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

#mainContent #What #allTheActs #1stAct h4,
#mainContent #What #allTheActs #2ndAct h4,
#mainContent #What #allTheActs #3rdAct h4,
#mainContent #What #allTheActs #4thAct h4 {
  font-weight: 0.625em;
  font-weight: bold;
  color: #f7fe6a;
  text-transform: uppercase;
}

#mainContent #What #allTheActs #1stAct span,
#mainContent #What #allTheActs #2ndAct span,
#mainContent #What #allTheActs #3rdAct span,
#mainContent #What #allTheActs #4thAct span {
  font-size: 1.5625em;
  text-decoration: underline;
  color: #FFFFFF;
}

#mainContent #What #allTheActs #1stAct p ul li,
#mainContent #What #allTheActs #2ndAct p ul li,
#mainContent #What #allTheActs #3rdAct p ul li,
#mainContent #What #allTheActs #4thAct p ul li {
  font-size: 1.0625em;
  line-height: 1.78;
  color: #FFFFFF;
}

#mainContent #What #aboutFilipe #aboutFilipePhoto p {
  font-size: 1.5625em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#mainContent #What #aboutFilipe #aboutFilipeMission {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

#mainContent #What #aboutFilipe #aboutFilipeMission h3 {
  font-size: 1.25em;
  color: #f7fe6a;
}

#mainContent #What #aboutFilipe #aboutFilipeMission p {
  font-size: 0.875em;
  line-height: 1.78;
}

#mainContent #What #whatWeNeed h2 {
  font-size: 5.125em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f7fe6a;
}

#mainContent #What #whatWeNeed h2 span {
  text-decoration: underline;
}

#mainContent #What #whatWeNeed p {
  font-size: 1.875em;
  color: #FFFFFF;
}

#mainContent #What #whatWeNeed p span {
  color: #595959;
}

#mainContent #callToAction {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

#mainContent #callToAction #letsChat span {
  font-size: 3.25em;
  font-weight: 500;
  color: #FFFFFF;
}

#mainContent #callToAction #letsChat span a {
  font-size: 1em;
  color: #121212;
  background-color: #f7fe6a;
  padding: 10px 6px 11px 6px;
}

#mainContent #callToAction #followSound {
  font-size: 1.5625em;
  font-weight: 300;
  color: #f7fe6a;
}

footer {
  color: #FFFFFF;
}

footer #rightsMaestro {
  font-size: 0.8125em;
}

footer #footerSocials a {
  font-size: 1.0625em;
  font-weight: 300;
  line-height: 1.78;
}
/*# sourceMappingURL=main.css.map */