body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    width: 99vw;
}

.grain,
canvas {
    display: flex;
    background: #E9E9E9;
    width: 98vw;
    height: 85vh;
    justify-content: center;
    margin: 0 auto;
}

header {
    width: 99vw;
    display: flexbox;
    #heading-nav {
        margin: 52px 0 0 95px;
    }
}