/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Variables */


/* Colors START */

$mainBgColor: #ffffff;
$mainYellow: #f7fe6a;
$mainPurple: #766ff6;
$mainTextColor: #465364;
$linkDark: #1f1e1e;
$gradientStart: $mainPurple;
$gradientStop: #d3c2ce;
$doYouColor: rgba(70,
83,
100,
0.2);
$howPurple: #7770f7;
$allTheActs: $mainBgColor;
$cardBG: #f5f7fa;
$borderColor: #e7ebf0;

/* Colors END */


/* Padding and Margin START */

$sideMargin: 5.938em;
$sideMarginMobile: 1.438em;

/* Padding and Margin END */


/* Font Sizes START */

$font10px: 0.625em;
$font16px: 1em;
$font20px: 1.25em;
$font25px: 1.5625em;
$font30px: 1.875em;
$font40px: 2.5em;
$font50px: 3.125em;
$font115px: 7.1875em;

/* Font Sizes END */


/* Keyframes START */


/* Circle Animation */

@keyframes pepita {
    0% {
        transform: scale(0);
        transform-origin: center;
        font-size: 0px;
    }
    100% {
        display: flex;
        transform: scale(1);
        font-size: $font20px;
    }
}


/* Reveal Animation and respective classes */

@keyframes revealText {
    from {
        opacity: 0;
        transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
    }
}

// === Mask each line ======
.reveal-mask {
    display: block;
    position: relative;
    text-align: start;
    overflow: hidden;
}

.reveal-animation[data-scroll="in"] {
    /*transform: scaleY(1);
            opacity: 1;
            */
    animation: revealText 1s cubic-bezier(0.7, 0, 0.3, 1) forwards .4s;
    // === Animate each line within the mask ======
    .reveal-line {
        display: inline-block;
        opacity: 0;
        transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
        will-change: opacity, transform;
        animation: revealText 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    }
}


/* Keyframes END */


/* Breakpoints START */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}


/* Breakpoints END */

ul {
    list-style-type: none;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: $mainBgColor;
    width: 99vw;
    color: $mainTextColor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include sm {}
}

header {
    position: relative;
    width: 99vw;
    z-index: 2;
    #headingNav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.25em;
        position: relative;
        //flex on desktop
        @include lg {
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        #menuButton {
            font-size: $font40px;
            display: block;
            width: 2em;
            text-align: center;
            position: absolute;
            right: 0;
            top: -10px;
            color: $mainTextColor;
            //no button on desktop
            @include lg {
                display: none;
            }
            #burgerHandler {
                font-weight: 100;
                cursor: pointer;
            }
        }
        input[type="checkbox"] {
            display: none;
        }
        #chk1:checked~#navLinks {
            display: block;
            @include lg {
                display: flex;
            }
        }
        #chk1:checked~#menuButton {
            color: $howPurple;
        }
        #navLogo {
            width: 30%;
            //margin for desktop
            margin: 0.0625em 0em 0.93em $sideMarginMobile;
            @include lg {
                margin: 0.0625em 1.87em 0.93em $sideMargin;
            }
        }
        #navLinks {
            display: none;
            width: 100%;
            position: relative;
            //Desktop
            @include lg {
                display: flex;
                width: 70%;
                align-items: baseline;
                justify-content: flex-end;
                padding: 0 $sideMargin 0 0;
            }
            a {
                font-size: $font16px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $mainTextColor;
                text-decoration: none;
                display: block;
                width: 100%;
                padding: $font10px 0.375em 0.6875em;
                //Desktop
                @include lg {
                    display: flex;
                    width: auto;
                    margin-right: 3.813em;
                }
            }
            #joinUs::after {
                content: ' ↗';
                font-size: $font10px;
                color: $mainPurple;
            }
            #getInTouch {
                color: $mainBgColor;
                background-image: linear-gradient(to right, $gradientStart, $gradientStop);
                padding: 0.6875em;
                margin-right: 0;
            }
        }
    }
}

.grain,
canvas {
    display: none;
    @include lg {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        background: $mainBgColor;
        width: 100%;
        height: 100vh;
        justify-content: center;
        margin: 0 auto;
        z-index: 1;
    }
}

#mainContent {
    padding: 3.25em 0em 0em;
    #maestroContainer {
        position: relative;
        overflow-x: hidden;
        height: 17em;
        @include lg {
            height: 75vh;
        }
        #showMust {
            position: absolute;
            z-index: 3;
            top: 5vh;
            left: $sideMarginMobile;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            width: 100%;
            @include lg {
                left: $sideMargin;
            }
            div {
                font-size: $font40px;
                font-weight: 300;
                text-align: left;
                color: $mainTextColor;
                width: 70%;
                @include lg {
                    font-size: $font115px;
                }
            }
        }
        #learnLink {
            font-size: 0.75em;
            font-weight: 500;
            text-align: right;
            text-decoration: none;
            color: $mainTextColor;
            position: absolute;
            z-index: 3;
            bottom: 5vh;
            right: $sideMargin;
            &::after {
                content: ' ↓';
                color: $mainPurple;
            }
            @include lg {
                font-size: $font16px;
            }
        }
    }
    #About {
        padding: 0em $sideMarginMobile;
        @include lg {
            margin-top: 9.163em;
            padding: 0em $sideMargin;
        }
        #workLinkContainer {
            position: relative;
            a {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            #exploreWork {
                transform: scale(1);
                background-color: $mainPurple;
                display: none;
                height: 143px;
                width: 140px;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius: 50%;
                font-size: $font20px;
                position: absolute;
                top: 178px;
                left: calc(70% - 70px);
                color: $linkDark;
            }
            /*
        &:hover #exploreWork {
            animation: pepita 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        } */
        }
        #aboutWorkFooter {
            font-size: $font10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            text-transform: uppercase;
            color: $mainTextColor;
            width: 100%;
            padding-top: 12px;
            margin-bottom: 117px;
            span:nth-of-type(2) {
                float: right;
            }
        }
        .doYou {
            font-size: $font30px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $doYouColor;
            padding: 29px $sideMarginMobile 29px 0;
            border-bottom: 1px solid $borderColor;
            @include lg {
                font-size: $font50px;
                padding: 29px 23% 29px 0;
            }
            /*
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-delay: 0.5s;
            transform-origin: bottom;
            transform: translateY(30%);
            opacity: 0;
            */
            opacity: 0;
            transform: translate(0%,
            100%) matrix(1,
            0,
            0,
            1,
            0,
            0);
            will-change: opacity,
            transform;
            &::after {
                visibility: visible;
            }
            a,
            &:nth-child(6) {
                color: $mainTextColor;
            }
            p {
                margin: 0;
                color: $mainPurple;
                font-weight: 400;
            }
        }
        #aboutMaestro {
            display: flex;
            flex-wrap: wrap;
            margin-top: $font50px;
            padding-bottom: $font50px;
            border-bottom: 1px solid $borderColor;
            #aboutImage {
                padding-right: 9.313em;
                img {
                    width: 52.375em;
                    max-width: 100%;
                    height: auto;
                }
            }
            #aboutDescription {
                font-size: $font16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $mainTextColor;
                align-self: flex-end;
                padding-top: 4em;
                @include lg {
                    font-size: $font20px;
                }
                p {
                    //width: 29em;
                }
                p:nth-child(1) {
                    padding-bottom: $font16px;
                }
            }
        }
    }
    #How {
        margin-bottom: $font50px;
        padding: 0em $sideMarginMobile $font50px;
        @include lg {
            padding: 0em $sideMargin $font50px;
        }
        #howDescription {
            padding-bottom: $font50px;
            h2 {
                font-size: $font20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $howPurple;
            }
            p {
                font-size: $font20px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $mainTextColor;
                margin-bottom: $font20px;
                @include lg {
                    font-size: $font30px;
                }
            }
        }
        #fullConcert {
            display: flex;
            flex-wrap: wrap;
            @include lg {
                flex-wrap: nowrap;
            }
            div {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                padding: 0 7.5em 0 0;
                width: 50%;
                h2 {
                    font-size: $font20px;
                    font-weight: normal;
                    color: $howPurple;
                    text-transform: uppercase;
                }
                p {
                    font-size: $font16px;
                    color: $mainTextColor;
                    max-width: 37rem;
                    @include lg {
                        font-size: $font20px;
                    }
                }
                span {
                    font-weight: 500;
                }
            }
        }
    }
    #What {
        background-image: linear-gradient(to right, $gradientStart, $gradientStop);
        @include lg {
            height: calc(43.375em + (43.375em / 3));
        }
        #allTheActs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 3.063em $sideMarginMobile 0;
            color: $allTheActs;
            @include lg {
                padding: 6.063em $sideMargin 0;
            }
            #fourActs {
                display: block;
                width: 100%;
                font-size: 1.563rem;
                font-weight: 300;
                margin-bottom: 1.75em;
            }
            #firstAct,
            #secondAct,
            #thirdAct,
            #fourthAct {
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                h4 {
                    font-size: 0.5em;
                    font-weight: bold;
                    text-transform: uppercase;
                    @include lg {
                        font-size: $font10px;
                    }
                }
                span {
                    display: block;
                    font-size: $font16px;
                    height: $font50px;
                    text-decoration: underline;
                    @include lg {
                        font-size: $font20px;
                    }
                }
                div {
                    align-self: flex-end;
                    ul {
                        li {
                            font-size: $font16px;
                            line-height: 1.77em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        #aboutFilipe {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: $cardBG;
            padding: 3.9em;
            margin: 7.25em $sideMarginMobile 0em;
            position: relative;
            @include lg {
                margin: 7.25em $sideMargin 0em;
            }
            #aboutFilipePhoto {
                display: flex;
                div {
                    align-self: flex-end;
                    p {
                        font-size: $font16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: $mainTextColor;
                        @include lg {
                            font-size: $font25px;
                        }
                    }
                    span {
                        color: $mainPurple;
                    }
                }
            }
            #aboutFilipeMission {
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                width: 29.063em;
                h3 {
                    font-size: 1.875em;
                    color: $howPurple;
                    font-weight: normal;
                    @include lg {
                        font-size: $font20px;
                    }
                }
                p {
                    font-size: 0.875em;
                    line-height: 1.78em;
                    padding-top: $font16px;
                    font-weight: 300;
                    @include lg {
                        font-size: $font16px;
                    }
                }
            }
        }
    }
    #callToAction {
        margin-top: 14.46em;
        padding: 12.875em $sideMarginMobile 0;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        background-image: url(/img/Stripes@3x.png);
        background-size: contain;
        background-position: right;
        background-position-y: -14.46em;
        background-repeat: no-repeat;
        @include lg {
            padding: 12.875em $sideMargin 0;
        }
        #whatWeNeed {
            height: 76.563em;
            h2 {
                font-size: 1.875em;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $mainPurple;
                margin-bottom: 2em;
                @include lg {
                    font-size: $font50px;
                }
                span {
                    text-decoration: none;
                }
            }
            h4 {
                font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: $howPurple;
                font-size: $font16px;
                margin-bottom: 0;
                font-weight: 300;
                @include lg {
                    font-size: $font20px;
                }
            }
            p {
                font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: $font16px;
                line-height: $font25px;
                color: $mainTextColor;
                width: 91%;
                @include lg {
                    font-size: $font20px;
                    width: 61%;
                }
            }
        }
    }
    #musicForEars {
        padding: 0 $sideMarginMobile;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        @include lg {
            padding: 0 $sideMargin;
        }
        #musicSplit {
            width: 100%;
            height: 3em;
            border-top: 1px solid $borderColor;
        }
        #letsChat {
            width: 100%;
            font-size: 2.188em;
            font-weight: 500;
            color: $mainTextColor;
            @include lg {
                font-size: 3.25em;
                width: 37%;
            }
        }
        #openChat {
            width: 100%;
            padding-top: 1.25em;
            @include lg {
                width: 55%;
                padding-left: 3em;
            }
            div {
                font-size: 1.563em;
                margin-bottom: $font20px;
                @include lg {
                    font-size: $font30px;
                }
            }
            a {
                font-size: $font16px;
                color: $mainBgColor;
                background-color: $mainPurple;
                padding: $font10px 0.375em 0.6875em 0.375em;
                text-decoration: none;
            }
        }
        #followSound {
            width: 100%;
            font-size: $font25px;
            font-weight: 300;
            color: $mainPurple;
            padding: $font50px 0 $font25px;
            @include lg {
                width: 30%;
            }
            a {
                color: $mainTextColor;
            }
        }
    }
}

footer {
    color: $mainTextColor;
    padding: 0 $sideMarginMobile 4em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    @include lg {
        padding: 0 $sideMargin 4em;
    }
    #rightsMaestro {
        font-size: 0.8125em;
        order: 1;
    }
    #footerSocials {
        order: -1;
        padding: 0 0 $font20px;
        @include lg {
            order: 1;
            padding: 0;
        }
        a {
            color: $mainTextColor;
            font-size: $font16px;
            font-weight: 300;
            line-height: 1.78;
            @include lg {
                display: block;
            }
        }
    }
}