@charset "UTF-8";
/* Import Font */
@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/GilroyLight/font.woff2") format("woff2"), url("../fonts/GilroyLight/font.woff") format("woff");
}

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/GilroyRegular/font.woff2") format("woff2"), url("../fonts/GilroyRegular/font.woff") format("woff");
}

@font-face {
  font-family: "GilroySemiBold";
  src: url("../fonts/GilroySemiBold/font.woff2") format("woff2"), url("../fonts/GilroySemiBold/font.woff") format("woff");
}

/* Variables */
/* Fonts START */
/* Fonts END */
/* Colors START */
/* Colors END */
/* Padding and Margin START */
/* Padding and Margin END */
/* Font Sizes START */
/* Font Sizes END */
/* Keyframes START */
/* Circle Animation */
@-webkit-keyframes pepita {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
    font-size: 0px;
  }
  100% {
    display: -webkit-box;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-size: 1.25em;
  }
}
@keyframes pepita {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
    font-size: 0px;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-size: 1.25em;
  }
}

/* Reveal Animation and respective classes */
@-webkit-keyframes revealText {
  from {
    opacity: 0;
    -webkit-transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
            transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
            transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}
@keyframes revealText {
  from {
    opacity: 0;
    -webkit-transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
            transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
            transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);
  }
}

.reveal-mask {
  display: block;
  position: relative;
  text-align: start;
  overflow: hidden;
}

.reveal-animation[data-scroll="in"] {
  /*transform: scaleY(1);
            opacity: 1;
            */
  -webkit-animation: revealText 1s cubic-bezier(0.7, 0, 0.3, 1) forwards 0.4s;
          animation: revealText 1s cubic-bezier(0.7, 0, 0.3, 1) forwards 0.4s;
}

.reveal-animation[data-scroll="in"] .reveal-line {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
          transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;
  -webkit-animation: revealText 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
          animation: revealText 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

/* Keyframes END */
.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;
  /* Create the gradient. */
  background-image: -webkit-gradient(linear, left bottom, left top, from(#766ff6), to(#d3c2ce));
  background-image: linear-gradient(to top, #766ff6, #d3c2ce);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Breakpoints START */
/* Breakpoints END */
ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  width: 99vw;
  color: #465364;
  font-family: "GilroyLight", Helvetica, Arial, sans-serif;
}

header {
  position: relative;
  width: 99vw;
  z-index: 4;
}

header #headingNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.25em;
  position: relative;
}

@media (min-width: 992px) {
  header #headingNav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header #headingNav #menuButton {
  font-size: 2.5em;
  display: block;
  width: 2em;
  text-align: center;
  position: absolute;
  right: 0;
  top: -10px;
  color: #465364;
}

@media (min-width: 992px) {
  header #headingNav #menuButton {
    display: none;
  }
}

header #headingNav #menuButton #burgerHandler {
  font-weight: 100;
  cursor: pointer;
  font-style: normal;
}

header #headingNav input[type="checkbox"] {
  display: none;
}

header #headingNav #chk1:checked ~ #navLogo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  overflow-y: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#766ff6), to(#d3c2ce));
  background-image: linear-gradient(to bottom, #766ff6, #d3c2ce);
}

@media (min-width: 992px) {
  header #headingNav #chk1:checked ~ #navLogo {
    position: inherit;
    width: 30%;
    margin: 0.0625em 1.87em 0.93em 5.938em;
    background: none;
  }
}

header #headingNav #chk1:checked ~ #navLogo img {
  margin: 3.25em 0em 0.93em 1.438em;
}

header #headingNav #chk1:checked ~ #navLogo img include lg {
  margin: auto;
}

header #headingNav #chk1:checked ~ #navLogo #logoImage {
  content: url("../img/logos/brandWhite.svg");
}

header #headingNav #chk1:checked ~ #navLinks {
  display: block;
  position: fixed;
  top: 9em;
  left: 1.438em;
}

header #headingNav #chk1:checked ~ #navLinks a {
  font-family: "GilroyRegular";
  font-weight: 600;
  color: #ffffff;
  font-size: 1.563em;
  text-align: left;
  padding: 0;
  margin-bottom: 1em;
}

header #headingNav #chk1:checked ~ #navLinks #getInTouch {
  padding: 0.75em 0;
  font-size: 0.875em;
  width: 6.875em;
  text-align: center;
}

@media (min-width: 992px) {
  header #headingNav #chk1:checked ~ #navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header #headingNav #chk1:checked ~ #menuButton {
  color: #ffffff;
}

header #headingNav #chk1:checked ~ #menuButton img {
  content: url("../img/menuC.svg");
}

header #headingNav #navLogo {
  width: 30%;
  margin: 0.0625em 0em 0.93em 1.438em;
}

@media (min-width: 992px) {
  header #headingNav #navLogo {
    margin: 0.0625em 1.87em 0.93em 5.938em;
  }
}

header #headingNav #navLogo #logoImage {
  content: url("../img/logos/brand.svg");
}

@media (min-width: 992px) {
  header #headingNav #navLogo #logoImage {
    content: url("../img/logos/brandDesktop.svg");
  }
}

header #headingNav #navLinks {
  display: none;
  position: relative;
}

@media (min-width: 992px) {
  header #headingNav #navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 5.938em 0 0;
  }
}

header #headingNav #navLinks a {
  font-family: "GilroySemiBold";
  font-size: 1em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #465364;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.625em 0.375em 0.6875em;
}

@media (min-width: 992px) {
  header #headingNav #navLinks a {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-right: 3.813em;
  }
}

header #headingNav #navLinks #joinUs::after {
  content: ' ↗';
  color: #766ff6;
  padding-left: 0.3em;
}

header #headingNav #navLinks #getInTouch {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#766ff6), to(#d3c2ce));
  background-image: linear-gradient(to right, #766ff6, #d3c2ce);
  padding: 0.6875em 1em;
  margin-right: 0;
}

.grain,
#world {
  display: none;
}

@media (min-width: 992px) {
  .grain,
  #world {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    z-index: 1;
  }
}

#mainContent {
  padding: 3.25em 0em 0em;
}

#mainContent #maestroContainer {
  position: relative;
  overflow-x: hidden;
  height: 17em;
}

@media (min-width: 992px) {
  #mainContent #maestroContainer {
    height: 75vh;
  }
}

#mainContent #maestroContainer #showMust {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 1.438em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
}

@media (min-width: 992px) {
  #mainContent #maestroContainer #showMust {
    top: 5vh;
    left: 5.938em;
  }
}

#mainContent #maestroContainer #showMust div {
  font-size: 2.188em;
  font-weight: 300;
  text-align: left;
  color: #465364;
  width: 70%;
}

@media (min-width: 992px) {
  #mainContent #maestroContainer #showMust div {
    font-size: 6.25em;
  }
}

#mainContent #maestroContainer #learnLink {
  font-size: 0.75em;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
  color: #465364;
  position: absolute;
  z-index: 3;
  bottom: 5vh;
  right: 1.438em;
}

#mainContent #maestroContainer #learnLink::after {
  content: ' ↓';
  color: #766ff6;
  font-size: 1.25em;
}

@media (min-width: 992px) {
  #mainContent #maestroContainer #learnLink {
    font-family: "GilroySemiBold";
    font-size: 1em;
    right: 5.938em;
  }
}

#mainContent #About {
  padding: 0em 1.438em;
}

@media (min-width: 992px) {
  #mainContent #About {
    margin-top: 9.163em;
    padding: 0em 5.938em;
  }
}

#mainContent #About #workLinkContainer {
  position: relative;
  /*
        &:hover #exploreWork {
            animation: pepita 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        } */
}

#mainContent #About #workLinkContainer a img {
  width: 100%;
  height: auto;
}

#mainContent #About #workLinkContainer #exploreWork {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #766ff6;
  display: none;
  height: 143px;
  width: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 1.25em;
  position: absolute;
  top: 178px;
  left: calc(70% - 70px);
  color: #1f1e1e;
}

#mainContent #About #aboutWorkFooter {
  font-size: 0.625em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #465364;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 117px;
}

#mainContent #About #aboutWorkFooter span:nth-of-type(2) {
  float: right;
}

#mainContent #About .doYou {
  font-size: 1.563em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(70, 83, 100, 0.2);
  padding: 29px 1.438em 29px 0;
  border-bottom: 1px solid #e7ebf0;
  /*
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-delay: 0.5s;
            transform-origin: bottom;
            transform: translateY(30%);
            opacity: 0;
            */
  opacity: 0;
  -webkit-transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
          transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;
}

@media (min-width: 992px) {
  #mainContent #About .doYou {
    font-size: 2.5em;
    padding: 29px 23% 29px 0;
  }
}

#mainContent #About .doYou::after {
  visibility: visible;
}

#mainContent #About .doYou a, #mainContent #About .doYou:nth-child(6) {
  color: #465364;
}

#mainContent #About .doYou p {
  margin: 0;
  color: #766ff6;
  font-weight: 400;
}

#mainContent #About #aboutMaestro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.125em;
  padding-bottom: 3.125em;
  border-bottom: 1px solid #e7ebf0;
}

@media (min-width: 992px) {
  #mainContent #About #aboutMaestro {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#mainContent #About #aboutMaestro #aboutImage {
  padding-right: 9.313em;
}

@media (min-width: 992px) {
  #mainContent #About #aboutMaestro #aboutImage {
    width: 50%;
  }
}

#mainContent #About #aboutMaestro #aboutImage img {
  width: 52.375em;
  max-width: 100%;
  height: auto;
}

#mainContent #About #aboutMaestro #aboutDescription {
  font-size: 1em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #465364;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 4em;
}

@media (min-width: 992px) {
  #mainContent #About #aboutMaestro #aboutDescription {
    font-size: 1.25em;
    line-height: 1.53;
    width: 50%;
  }
}

@media (min-width: 992px) {
  #mainContent #About #aboutMaestro #aboutDescription p {
    width: 29em;
  }
}

#mainContent #About #aboutMaestro #aboutDescription p:nth-child(1) {
  padding-bottom: 1em;
}

#mainContent #How {
  margin-bottom: 3.125em;
  padding: 0em 1.438em 3.125em;
}

@media (min-width: 992px) {
  #mainContent #How {
    padding: 0em 5.938em 3.125em;
  }
}

#mainContent #How #howDescription {
  padding-bottom: 3.125em;
}

#mainContent #How #howDescription h2 {
  font-size: 1.25em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7770f7;
}

#mainContent #How #howDescription p {
  font-size: 1.25em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #465364;
  margin-bottom: 1.25em;
}

@media (min-width: 992px) {
  #mainContent #How #howDescription p {
    font-size: 1.875em;
  }
}

#mainContent #How #fullConcert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 992px) {
  #mainContent #How #fullConcert {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#mainContent #How #fullConcert div {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 0 0 4em;
}

@media (min-width: 992px) {
  #mainContent #How #fullConcert div {
    padding: 0 7.5em 0 0;
    width: 50%;
  }
}

#mainContent #How #fullConcert div h2 {
  font-size: 1.25em;
  font-weight: normal;
  color: #7770f7;
}

#mainContent #How #fullConcert div p {
  font-size: 1em;
  color: #465364;
  font-weight: 300;
  max-width: 37rem;
}

@media (min-width: 992px) {
  #mainContent #How #fullConcert div p {
    font-size: 1.25em;
    line-height: 1.53;
  }
}

#mainContent #How #fullConcert div span {
  font-weight: 500;
}

#mainContent #What {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#766ff6), to(#d3c2ce));
  background-image: linear-gradient(to bottom, #766ff6, #d3c2ce);
}

@media (min-width: 992px) {
  #mainContent #What {
    height: calc(43.375em + (43.375em / 3));
  }
}

#mainContent #What #allTheActs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.063em 1.438em 0;
  color: #ffffff;
}

@media (min-width: 992px) {
  #mainContent #What #allTheActs {
    padding: 6.063em 5.938em 0;
  }
}

#mainContent #What #allTheActs #fourActs {
  font-family: "GilroyRegular";
  display: block;
  width: 100%;
  font-size: 1.563rem;
  font-weight: 600;
  margin-bottom: 1.75em;
}

@media (min-width: 992px) {
  #mainContent #What #allTheActs #fourActs {
    font-family: "GilroySemiBold";
    font-size: 1.875em;
  }
}

#mainContent #What #allTheActs #firstAct,
#mainContent #What #allTheActs #secondAct,
#mainContent #What #allTheActs #thirdAct,
#mainContent #What #allTheActs #fourthAct {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 3.688em;
}

@media (min-width: 992px) {
  #mainContent #What #allTheActs #firstAct,
  #mainContent #What #allTheActs #secondAct,
  #mainContent #What #allTheActs #thirdAct,
  #mainContent #What #allTheActs #fourthAct {
    margin-bottom: 0;
  }
}

#mainContent #What #allTheActs #firstAct h4,
#mainContent #What #allTheActs #secondAct h4,
#mainContent #What #allTheActs #thirdAct h4,
#mainContent #What #allTheActs #fourthAct h4 {
  font-family: "GilroySemiBold";
  font-size: 0.5em;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3;
}

@media (min-width: 992px) {
  #mainContent #What #allTheActs #firstAct h4,
  #mainContent #What #allTheActs #secondAct h4,
  #mainContent #What #allTheActs #thirdAct h4,
  #mainContent #What #allTheActs #fourthAct h4 {
    font-size: 0.625em;
  }
}

#mainContent #What #allTheActs #firstAct span,
#mainContent #What #allTheActs #secondAct span,
#mainContent #What #allTheActs #thirdAct span,
#mainContent #What #allTheActs #fourthAct span {
  display: block;
  font-size: 1em;
  text-decoration: underline;
  line-height: normal;
}

@media (min-width: 992px) {
  #mainContent #What #allTheActs #firstAct span,
  #mainContent #What #allTheActs #secondAct span,
  #mainContent #What #allTheActs #thirdAct span,
  #mainContent #What #allTheActs #fourthAct span {
    font-size: 1.25em;
    font-family: "GilroyRegular";
    height: 3em;
  }
}

#mainContent #What #allTheActs #firstAct div,
#mainContent #What #allTheActs #secondAct div,
#mainContent #What #allTheActs #thirdAct div,
#mainContent #What #allTheActs #fourthAct div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#mainContent #What #allTheActs #firstAct div ul li,
#mainContent #What #allTheActs #secondAct div ul li,
#mainContent #What #allTheActs #thirdAct div ul li,
#mainContent #What #allTheActs #fourthAct div ul li {
  font-size: 1em;
  line-height: 1.78em;
  font-weight: 300;
}

#mainContent #What #aboutFilipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "GilroyLight";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 29em 1.438em 0em;
  margin: 7.25em 0em 0em;
  position: relative;
  background-image: url(../img/filipe-pic-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 140vw;
}

@media (min-width: 376px) {
  #mainContent #What #aboutFilipe {
    background-color: #f5f7fa;
    background-image: url(../img/filipe-pic-desktop@2x.jpg);
  }
}

@media (min-width: 992px) {
  #mainContent #What #aboutFilipe {
    padding: 3.9em;
    margin: 7.25em 5.938em 0em;
    background-size: cover;
  }
}

#mainContent #What #aboutFilipe #aboutFilipePhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 3.125em 0;
}

@media (min-width: 992px) {
  #mainContent #What #aboutFilipe #aboutFilipePhoto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
  }
}

#mainContent #What #aboutFilipe #aboutFilipePhoto div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#mainContent #What #aboutFilipe #aboutFilipePhoto div p {
  font-family: "GilroyRegular";
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #465364;
}

@media (min-width: 992px) {
  #mainContent #What #aboutFilipe #aboutFilipePhoto div p {
    font-family: "GilroyLight";
    font-size: 1.25em;
    color: #ffffff;
    line-height: 1.5;
  }
}

#mainContent #What #aboutFilipe #aboutFilipePhoto div span {
  color: #766ff6;
}

@media (min-width: 992px) {
  #mainContent #What #aboutFilipe #aboutFilipePhoto div span {
    color: #ffffff;
  }
}

#mainContent #What #aboutFilipe #aboutFilipeMission {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 29.063em;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 9em;
}

@media (min-width: 992px) {
  #mainContent #What #aboutFilipe #aboutFilipeMission {
    margin-top: 0;
  }
}

#mainContent #What #aboutFilipe #aboutFilipeMission h3 {
  font-size: 1.875em;
  line-height: normal;
  color: #7770f7;
  font-weight: 300;
}

@media (min-width: 992px) {
  #mainContent #What #aboutFilipe #aboutFilipeMission h3 {
    font-family: "GilroyRegular";
    font-size: 1.25em;
    color: #ffffff;
    padding-right: 3.125em;
    line-height: 1.5;
  }
}

#mainContent #What #aboutFilipe #aboutFilipeMission p {
  font-size: 0.875em;
  line-height: 1.5;
  padding-top: 1em;
  font-weight: 300;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  #mainContent #What #aboutFilipe #aboutFilipeMission p {
    font-family: "GilroyRegular";
    font-size: 1em;
    color: #ffffff;
  }
}

#mainContent #callToAction {
  padding: 12.875em 1.438em 0;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url(../img/Stripes.png);
  background-size: contain;
  background-position: right;
  background-position-y: 0em;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  #mainContent #callToAction {
    background-image: url(../img/Stripes@3x.png);
    background-position-y: -14.46em;
    margin-top: 14.46em;
    padding: 12.875em 5.938em 0;
  }
}

#mainContent #callToAction #whatWeNeed {
  margin-top: 12em;
}

@media (min-width: 992px) {
  #mainContent #callToAction #whatWeNeed {
    margin-top: 0;
    height: 76.563em;
  }
}

#mainContent #callToAction #whatWeNeed h2 {
  font-size: 1.875em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #766ff6;
}

@media (min-width: 992px) {
  #mainContent #callToAction #whatWeNeed h2 {
    font-size: 3.125em;
  }
}

#mainContent #callToAction #whatWeNeed h2 span {
  text-decoration: none;
}

#mainContent #callToAction #whatWeNeed h4 {
  font-family: "GilroyLight", "GilroyRegular", Helvetica, Arial, sans-serif;
  color: #7770f7;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

@media (min-width: 992px) {
  #mainContent #callToAction #whatWeNeed h4 {
    font-size: 1.25em;
  }
}

#mainContent #callToAction #whatWeNeed p {
  font-family: "GilroyLight", "GilroyRegular", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #465364;
  width: 91%;
  margin-bottom: 3em;
}

@media (min-width: 992px) {
  #mainContent #callToAction #whatWeNeed p {
    font-size: 1.25em;
    width: 61%;
  }
}

#mainContent #musicForEars {
  padding: 0 1.438em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 992px) {
  #mainContent #musicForEars {
    padding: 0 5.938em;
  }
}

#mainContent #musicForEars #testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin-bottom: 3em;
  border-bottom: 1px solid #e7ebf0;
  width: 100%;
}

#mainContent #musicForEars #testimonials .testefy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-bottom: 3em;
}

@media (min-width: 992px) {
  #mainContent #musicForEars #testimonials .testefy {
    width: 50%;
  }
}

#mainContent #musicForEars #testimonials .testefy .testimonialPhoto {
  display: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1.3em;
}

#mainContent #musicForEars #testimonials .testefy .testimonialPhoto img {
  max-height: 100px;
}

#mainContent #musicForEars #testimonials .testefy .testimonialPhoto i {
  font-family: "GilroySemiBold";
  color: #766ff6;
  font-size: 4em;
}

#mainContent #musicForEars #testimonials .testefy .testimonial {
  width: 69%;
  color: #465364;
  font-size: 1.25em;
  line-height: 1.912em;
}

#mainContent #musicForEars #testimonials .testefy .testimonial .testefier {
  padding-top: 1em;
  color: rgba(70, 83, 100, 0.2);
  font-family: "GilroyRegular";
  font-size: 1em;
  line-height: 1.53em;
}

#mainContent #musicForEars .musicSplit {
  width: 100%;
  height: 3em;
  border-top: 1px solid #e7ebf0;
}

#mainContent #musicForEars #letsChat {
  width: 100%;
  font-size: 2.188em;
  font-weight: 500;
  color: #7770f7;
}

@media (min-width: 992px) {
  #mainContent #musicForEars #letsChat {
    font-size: 3.125em;
    font-weight: 300;
    width: 37%;
  }
}

#mainContent #musicForEars #openChat {
  width: 100%;
  padding-top: 1.25em;
}

@media (min-width: 992px) {
  #mainContent #musicForEars #openChat {
    width: 55%;
    padding-left: 3em;
  }
}

#mainContent #musicForEars #openChat div {
  font-size: 1.563em;
  margin-bottom: 1.25em;
  line-height: 1.5;
  font-weight: 300;
}

@media (min-width: 992px) {
  #mainContent #musicForEars #openChat div {
    font-size: 1.875em;
  }
}

#mainContent #musicForEars #openChat a {
  font-family: "GilroyRegular";
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  background-color: #766ff6;
  background-image: -webkit-gradient(linear, left top, right top, from(#766ff6), to(#d3c2ce));
  background-image: linear-gradient(to right, #766ff6, #d3c2ce);
  padding: 0.625em 1em 0.6875em;
  text-decoration: none;
}

#mainContent #musicForEars #followSound {
  width: 100%;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5;
  padding: 3.125em 0 1.5625em;
}

@media (min-width: 992px) {
  #mainContent #musicForEars #followSound {
    width: 30%;
  }
}

#mainContent #musicForEars #followSound .gradient-text p {
  color: #465364;
}

footer {
  color: #465364;
  padding: 0 1.438em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 992px) {
  footer {
    padding: 0 5.938em 4em;
  }
}

footer #rightsMaestro {
  font-size: 0.813em;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 992px) {
  footer #rightsMaestro {
    font-family: "GilroyRegular";
    font-size: 0.688em;
  }
}

footer #footerSocials {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding: 0 0 2.5em;
}

@media (min-width: 992px) {
  footer #footerSocials {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
  }
}

footer #footerSocials a {
  color: #465364;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.78;
}

@media (min-width: 992px) {
  footer #footerSocials a {
    display: block;
    font-family: "GilroyRegular";
    font-weight: normal;
  }
}
/*# sourceMappingURL=main.css.map */