@charset "UTF-8";
/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;1,400;1,500&display=swap");
/* Variables */
/* Colors */
/* Padding and Margin */
/* Font Sizes */
ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #121212;
  width: 99vw;
  color: #e9e9e9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  width: 99vw;
}

header #headingNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 3.25em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #headingNav #navLogo {
  width: 30%;
  margin: 0.0625em 1.87em 0.93em 6em;
}

header #headingNav #navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 6em 0 0;
}

header #headingNav #navLinks a {
  padding: 0.625em 0.375em 0.6875em;
  font-size: 1em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e9e9e9;
  text-decoration: none;
  margin-right: 3.8125em;
}

header #headingNav #navLinks #joinUs::after {
  content: ' ↗';
  font-size: 0.7em;
  color: #f7fe6a;
}

header #headingNav #navLinks #getInTouch {
  color: #121212;
  background-color: #f7fe6a;
  margin-right: 0;
}

#mainContent {
  padding: 3.25em 6em 0em 6em;
}

#mainContent #maestroContainer {
  position: relative;
}

#mainContent #maestroContainer .grain,
#mainContent #maestroContainer canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #121212;
  width: 100%;
  height: 75vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#mainContent #maestroContainer #showMust {
  position: absolute;
  top: 5vh;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
}

#mainContent #maestroContainer #showMust div {
  font-size: 5.125em;
  font-weight: 300;
  text-align: left;
  color: #e9e9e9;
  width: 70%;
  top: 0;
}

#mainContent #maestroContainer #learnLink {
  font-size: 1em;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  color: #e9e9e9;
  position: absolute;
  bottom: 20vh;
  right: 0;
}

#mainContent #maestroContainer #learnLink::after {
  content: ' ↓';
  color: #f7fe6a;
}

#mainContent #About {
  /* Circle Animation */
}

@-webkit-keyframes pepita {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
    font-size: 0px;
  }
  100% {
    display: -webkit-box;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-size: 1.25em;
  }
}

@keyframes pepita {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
    font-size: 0px;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-size: 1.25em;
  }
}

#mainContent #About #workLinkContainer {
  position: relative;
  /*
        &:hover #exploreWork {
            animation: pepita 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        } */
}

#mainContent #About #workLinkContainer a img {
  max-width: 100%;
}

#mainContent #About #workLinkContainer a:hover {
  cursor: none;
}

#mainContent #About #workLinkContainer #exploreWork {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #f7fe6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 143px;
  width: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  font-size: 1.25em;
  position: absolute;
  top: 178px;
  left: calc(70% - 70px);
  color: #1f1e1e;
}

#mainContent #About #aboutWorkFooter {
  font-size: 0.625em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  border-top: 1px solid #FFFFFF;
  padding-top: 12px;
  margin-bottom: 117px;
}

#mainContent #About #aboutWorkFooter span:nth-of-type(2) {
  float: right;
}

#mainContent #About .doYou {
  font-size: 3.125em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #595959;
  border-bottom: 1px solid #595959;
  padding: 29px 18% 29px 0;
}

#mainContent #About .doYou p {
  margin: 0;
  color: #f7fe6a;
}

#mainContent #About #aboutMaestro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.125em;
  padding-bottom: 3.125em;
  border-bottom: 1px solid #595959;
}

#mainContent #About #aboutMaestro #aboutDescription {
  font-size: 1.5625em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e9e9e9;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#mainContent #About #aboutMaestro #aboutDescription p {
  padding: 0 0 0 4.6875em;
}

#mainContent #About #aboutMaestro #aboutDescription p:nth-child(1) {
  padding-bottom: 1em;
}

#mainContent #How {
  border-bottom: 1px solid #595959;
  margin-bottom: 3.125em;
  padding-bottom: 3.125em;
}

#mainContent #How #howDescription {
  padding-bottom: 3.125em;
}

#mainContent #How #howDescription h2 {
  font-size: 1.25em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f7fe6a;
}

#mainContent #How #howDescription p {
  font-size: 2.5em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 1.25em;
}

#mainContent #How #fullConcert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainContent #How #fullConcert div {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 0 2em 0 0;
}

#mainContent #How #fullConcert div h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #f7fe6a;
}

#mainContent #How #fullConcert div p {
  font-size: 1.5625em;
  color: #e9e9e9;
}

#mainContent #How #fullConcert div span {
  font-weight: 500;
}

#mainContent #What {
  border-bottom: 1px solid #595959;
  padding-bottom: 3.125em;
}

#mainContent #What #allTheActs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125em;
}

#mainContent #What #allTheActs #firstAct,
#mainContent #What #allTheActs #secondAct,
#mainContent #What #allTheActs #thirdAct,
#mainContent #What #allTheActs #fourthAct {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

#mainContent #What #allTheActs #firstAct h4,
#mainContent #What #allTheActs #secondAct h4,
#mainContent #What #allTheActs #thirdAct h4,
#mainContent #What #allTheActs #fourthAct h4 {
  font-size: 0.625em;
  font-weight: bold;
  color: #f7fe6a;
  text-transform: uppercase;
}

#mainContent #What #allTheActs #firstAct span,
#mainContent #What #allTheActs #secondAct span,
#mainContent #What #allTheActs #thirdAct span,
#mainContent #What #allTheActs #fourthAct span {
  display: block;
  font-size: 1.5625em;
  height: 3.125em;
  text-decoration: underline;
  color: #FFFFFF;
}

#mainContent #What #allTheActs #firstAct div,
#mainContent #What #allTheActs #secondAct div,
#mainContent #What #allTheActs #thirdAct div,
#mainContent #What #allTheActs #fourthAct div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#mainContent #What #allTheActs #firstAct div ul li,
#mainContent #What #allTheActs #secondAct div ul li,
#mainContent #What #allTheActs #thirdAct div ul li,
#mainContent #What #allTheActs #fourthAct div ul li {
  font-size: 1.0625em;
  line-height: 1.78;
  color: #FFFFFF;
}

#mainContent #What #aboutFilipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1d1c1c;
  padding: 3.125em;
}

#mainContent #What #aboutFilipe #aboutFilipePhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainContent #What #aboutFilipe #aboutFilipePhoto div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#mainContent #What #aboutFilipe #aboutFilipePhoto div p {
  font-size: 1.5625em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#mainContent #What #aboutFilipe #aboutFilipePhoto div span {
  color: #f7fe6a;
}

#mainContent #What #aboutFilipe #aboutFilipeMission {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  width: 25.125em;
}

#mainContent #What #aboutFilipe #aboutFilipeMission h3 {
  font-size: 1.25em;
  color: #f7fe6a;
}

#mainContent #What #aboutFilipe #aboutFilipeMission p {
  font-size: 0.875em;
  line-height: 1.78;
}

#mainContent #What #whatWeNeed h2 {
  font-size: 5.125em;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #f7fe6a;
  width: 75%;
}

#mainContent #What #whatWeNeed h2 span {
  text-decoration: underline;
}

#mainContent #What #whatWeNeed h4 {
  color: #FFFFFF;
  font-size: 1.875em;
  margin-bottom: 0;
}

#mainContent #What #whatWeNeed p {
  font-size: 1.875em;
  color: #595959;
  width: 60%;
}

#mainContent #callToAction {
  padding-top: 3.125em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mainContent #callToAction #letsChat {
  width: 35%;
  font-size: 3.25em;
  font-weight: 500;
  color: #FFFFFF;
}

#mainContent #callToAction #openChat {
  width: 65%;
}

#mainContent #callToAction #openChat div {
  font-size: 1.875em;
  margin-bottom: 1.25em;
}

#mainContent #callToAction #openChat a {
  font-size: 1em;
  color: #121212;
  background-color: #f7fe6a;
  padding: 0.625em 0.375em 0.6875em 0.375em;
  text-decoration: none;
}

#mainContent #callToAction #followSound {
  width: 30%;
  font-size: 1.5625em;
  font-weight: 300;
  color: #f7fe6a;
  padding: 3.125em 0 1.5625em;
}

#mainContent #callToAction #followSound a {
  color: #FFFFFF;
}

footer {
  color: #FFFFFF;
}

footer #rightsMaestro {
  font-size: 0.8125em;
}

footer #footerSocials a {
  font-size: 1.0625em;
  font-weight: 300;
  line-height: 1.78;
}
/*# sourceMappingURL=main.css.map */