/* Variables */


/* Colors */

$mainBgColor: #121212;
$mainYellow: #f7fe6a;
$mainTextColor: #e9e9e9;

/* Padding and Margin */

$sideMargin: 6em;
body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    background-color: $mainBgColor;
    width: 99vw;
    color: $mainTextColor;
}

header {
    width: 99vw;
    #headingNav {
        display: flex;
        width: 100%;
        margin-top: 3.25em;
        justify-content: space-between;
        align-items: center;
        #navLogo {
            width: 30%;
            margin: 0.0625em 1.87em 0.93em $sideMargin;
        }
        #navLinks {
            display: flex;
            width: 70%;
            align-items: baseline;
            justify-content: flex-end;
            padding: 0 $sideMargin 0 0;
            a {
                padding: 0.625em 0.375em 0.6875em;
                font-family: HelveticaNeue;
                font-size: 1em;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #e9e9e9;
                text-decoration: none;
                margin-right: 3.8125em;
            }
            #joinUs::after {
                content: ' ↗';
                font-size: 0.7em;
                color: $mainYellow;
            }
            #getInTouch {
                color: $mainBgColor;
                background-color: $mainYellow;
                margin-right: 0;
            }
        }
    }
}

.grain,
canvas {
    display: flex;
    background: $mainBgColor;
    width: 100%;
    height: 75vh;
    justify-content: center;
    margin: 0 auto;
}

#mainContent {
    padding: 3.25em $sideMargin 0em $sideMargin;
}